// IMPORTS FONTS
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');

// IMPORT COMPONENTS
@import 'Navbar';
@import 'Section';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
